useDynLib(nanop)
import(graphics)

export(calcPDF, calcTotalScatt, calcQDepPDF,
       simPart,  displacePart, broadPDF, rss,  
       simPartPar, PDFPar, TotalScattPar, 
	   termRip, gaussConvol, IqSAS, IqSASP, 
	   GrSAS, GrSASCS, plotPart, getSymEl,
	   getScatterFactor, getScatterLength,
	   createAtom, getBase)
